@media screen and (min-width:480px) {
    
    * {
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    a {
        text-decoration: none;
    }
    
    /* header */
    
    header {
        width: 80%;
    }
    
    header i {
        width: auto;
        height: auto;
        padding-top: 3px;
    }
    
    .header-up {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .header-img {
        width: 250px;
        margin-top: -60px;
        align-items: center;
        display: flex;
    }
    
    .header-main {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 80%;
    }
    
    .header-main > div {
        border: 1px solid black;    
        width: 14%;
        height: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 17px;
    }
    
    .header-main a {
        color: black;
        width: 120px;
        margin-left: -10px;
    }
    
    .header-main > div i {
        float: right;
    }
    
    #notice {
        margin-top: 3%;
        width: 80%;
        height: 50vh;
        background-image: url(imgs/서브이미지.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        padding-top: 100px;
        transition: all 1s;
    }
    
    #notice > span {
        font-size: 25px;
        color: rgb(110, 110, 110);
    }

}


@media screen and (max-width:480px) {
    
    * {
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    a {
        text-decoration: none;
    }
    
    /* header */
    
    header {
        width: 80%;
    }
    
    header i {
        width: auto;
        height: auto;
        padding-top: 3px;
    }
    
    .header-up {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .header-img {
        width: 250px;
        margin-top: -60px;
        align-items: center;
        display: flex;
    }
    
    .header-main {
        display: none;
    }

    
    #notice {
        margin-top: 3%;
        width: 80%;
        height: 300px;
        background-image: url(imgs/서브이미지.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        padding-top: 100px;
    }
    
    #notice > span {
        font-size: 20px;
        color: rgb(110, 110, 110);
    }

}